<!-- Header -->
header#header.header
  .container
    .header__inner
      .header__menu(title='Navigation Menu')
        button.header__menu-btn.js-nav-btn
          span.header__line
          span.header__line
          span.header__line
        nav.header__nav.js-nav-menu
          ul.header__list.d-f
            li.header__item
              a.header__link(href='#anchor-id')
                | Link
            li.header__item
              a.header__link(href='#anchor-id')
                | Link
            li.header__item
              a.header__link(href='#anchor-id')
                | Link
            li.header__item
              a.header__link(href='#anchor-id')
                | Link
            li.header__item
              a.header__link(href='#anchor-id')
                | Link
            li.header__item
              a.header__link(href='#anchor-id')
                | Link
<!-- /Header -->
