// Container properties
$cont-width: 1140;
$min-width: 320px;
$max-width: $cont-width + 30;

// Media breakpoints
$media-lg: 1199.98;
$media-md: 991.98;
$media-sm: 767.98;
$media-xs: 575.98;

// Fonts
$default-font: sans-serif;

// Colours
$white: #ffffff;
$primary-accent: blue;
